
body{
  margin:0;
  text-align:center;
  font-family: 'Merriweather', serif;
}

h1{
  margin-top:0;
  font-family:'Sacramento',cursive;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}

div{
  background-color:#E4F9F5;
}

.top-container{
  border:10px;
  position:relative;
  padding-top: 100px;
}
.middle-container{
  border:10px;
}
.bottom-container{
  border:10px;
  margin-bottom:60px;
}
.bottom-cloud{
  position:absolute;
  left:300px;
  bottom: 300px;
}
.top-cloud{
  position:absolute;
  right:300px;
  top:50px;
}

.joeyimg{
  border-radius:50%;
  width:225px;
  height:225px;
}
.rishabhimg{
  border-radius:50%;
  width:225px;
  height:225px;
}

.center{
  margin-left:auto;
  margin-right:auto;
}

.smallwidthcenter{
  width:55%;
  margin-left:auto;
  margin-right:auto;
}

.zcslogo{
  height:10%;
  width:10%;
  margin-left:auto;
  margin-right:auto;
}
